* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  color: rgba(255, 255, 255, 0.9);
  font-family: "Poppins", sans-serif;
}

header {
  /* background-color: red; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vw 8vw;
  position: absolute;
  z-index: 1000;

  ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
  }

  .icones {
    width: 313px;
    display: flex;
    gap: 16px;
    justify-content: end;
  }
}

.slider {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  .slide {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding-top: 5%;
    position: absolute;
    clip-path: circle(0% at 88% 50%);
    opacity: 0;

    .saborBatata {
      width: 30%;
      height: auto;
      margin-left: -14%;
    }

    .descricao {
      padding: 0 0 5% 5%;

      h2 {
        font-weight: 800;
        font-size: 4vw;
      }
      p {
        width: 70%;
        font-size: 16px;
        margin: 3% 0;
      }

      button {
        padding: 16px 28px;
        border: none;
        border-radius: 4px;
        font-family: "Poppins", sans-serif;
        text-transform: uppercase;
      }
    }

    .latas {
      display: flex;
      margin: 0 5% 0 0;
      gap: 5%;

      img {
        width: 45%;
      }

      img:nth-child(2) {
        scale: 0.8;
      }
    }
  }

  .active {
    clip-path: circle(100vw at 88% 50%);
    transition:
      opacity 0.3s,
      clip-path 0.8s;
    opacity: 1;
  }
}

.original {
  background: linear-gradient(100deg, #fe4f6c 2.57%, #9b1b2d 95.91%);
}

.saltEVinagar {
  background: linear-gradient(100deg, #2ac4ff 2.57%, #0d88bb 95.91%);
}

.hamECheese {
  background: linear-gradient(100deg, #ff849d 2.57%, #c5566a 95.91%);
}

.paprika {
  background: linear-gradient(100deg, #ff8917 2.57%, #d06000 95.91%);
}

.cheeseEOnion {
  background: linear-gradient(100deg, #008e5e 2.57%, #005235 95.91%);
}

.hotESpicy {
  background: linear-gradient(100deg, #4f423c 2.57%, #372a26 95.91%);
}

.saborJamon {
  background: linear-gradient(100deg, #903d54 2.57%, #571c2d 95.91%);
}

.emmental {
  background: linear-gradient(100deg, #ffffd8 2.57%, #aca386 95.91%);
}

.sourCream {
  background: linear-gradient(100deg, #55d471 2.57%, #277c3a 95.91%);
}

.bbqTexas {
  background: linear-gradient(100deg, #8b2a60 2.57%, #4b0b2f 95.91%);
}
